@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-text-size-adjust: 100%;
  }

  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }

  /* ให้ input บนมือถือไม่ zoom เอง */
  input,
  select,
  textarea {
    font-size: 16px;
  }

  @media (min-width: 640px) {
    input,
    select,
    textarea {
      font-size: 0.875rem;
    }
  }
}
